# for testing, ignore these

# dev stuff
.tags
.R_tags
.*.swp
.*.swo

# local build check and whatnot
*.tar.gz
.local/
.staging/
*.Rcheck

# unit testing
unit_test.log

# build static/dynamic
convoluted_build.sh

# automagically generated?
# ah, but these are needed for install_github:
#NAMESPACE
#DESCRIPTION
#man/

.mazealls*installed
# generated as part of the 'local' vignette build
mazealls.tex
mazealls.log
mazealls/
./mazealls.pdf
*.aux
*.bbl
*.blg
cache/
.docker_img
*.crancheck
.Rd2pdf*/
Rd2.pdf
mazealls.pdf
submodule_directions.sh
