# see https://help.github.com/articles/dealing-with-line-endings
# * Mon Jan 14 2013 03:28:56 PM Steven E. Pav <steven@cerebellumcapital.com>

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
DESCRIPTION text
NAMESPACE text
*.md text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pdf binary

